# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
/build/classes/java/test/
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/.gitignore
/.idea/runConfigurations.xml
/.idea/uiDesigner.xml
